body {
  background: radial-gradient(circle at bottom, #facfed, #bfa1a1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.genie {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diamond {
  width: 180px;
  height: 180px;
  background: #ff77cc;
  transform: rotate(45deg);
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 10px #ffb3e6;
}

.eyes {
  position: absolute;
  top: 35px;
  left: 30px;
  width: 120px;
  display: flex;
  justify-content: space-between;
  transform: rotate(-45deg);
}
.eye {
  width: 40px;
  height: 50px;
  background: white;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
}
.eye::after {
  content: "";
  width: 15px;
  height: 20px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 12px;
}

.mouth {
  width: 80px;
  height: 40px;
  background: #b22222;
  border-radius: 0 0 80px 80px;
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  overflow: hidden;
}
.mouth::after {
  content: "";
  width: 60px;
  height: 20px;
  background: #ff9999;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.belt {
  width: 140px;
  height: 15px;
  background: teal;
  position: absolute;
  bottom: 70px;
  left: 20px;
  transform: rotate(-45deg);
  border-radius: 5px;
}

.bow {
  width: 40px;
  height: 20px;
  background: gold;
  border-radius: 50%;
  position: absolute;
  bottom: 90px;
  left: 70px;
  transform: rotate(-45deg);
  box-shadow: 0 0 8px gold;
}

.arms {
  position: absolute;
  top: 100px;
}
.arm {
  width: 60px;
  height: 15px;
  background: #ff77cc;
  border-radius: 10px;
  position: absolute;
  transform-origin: top;
}
.left {
  left: -80px;
  transform: rotate(30deg);
}
.right {
  right: -80px;
  transform: rotate(-30deg);
}
.container {
    text-align: center;
}